#!/usr/bin/env bash

source_up_if_exists

# See https://github.com/jdxcode/rtx#direnv
if has rtx; then
  use rtx
fi

# Check if bw cli is installed
if [[ -x "$(command -v bw)" ]]; then
    # Login to bitwarden if not logged
    if [[ "$(bw status | jq -r .status)" == "unauthenticated" ]]; then
        BW_SESSION=$(bw login | grep "export BW_SESSION" | cut -d "=" -f 2- | sed 's/"//g')
        export BW_SESSION
    # Unlock bitwarden if locked
    elif [[ "$(bw status | jq -r .status)" == "locked" ]]; then
        BW_SESSION=$(bw unlock | grep "export BW_SESSION" | cut -d "=" -f 2- | sed 's/"//g')
        export BW_SESSION
    fi

    # Load secrets in environment
    if [[ "$(bw status | jq -r .status)" == "unlocked" ]]; then
        TEST_USERNAME="$(bw get username "Test login")"
        export TEST_USERNAME
        TEST_PASSWORD="$(bw get password "Test login")"
        export TEST_PASSWORD
    fi
fi
